
@model IEnumerable<CyberWebsite.Models.Categories>

<h3>Sub-categories</h3>
<p>
    Hier moet dan de info pagina van de @ViewBag.CategoryName laden!
    Maar hoe? Dus ik moet de _ProductInfo uit de map Product hier laden,
    ik dacht dat het met Html.RenderAction("_ProductInfo", "Product") wel kon,
    maar dat dacht ik dus mooi even fout
</p>