@model CyberWebsite.Models.Categories

@{
    ViewBag.Title = ViewBag.CategoryName;
    int categoryId = ViewBag.CategoryId;
}

<h2>@ViewBag.CategoryName</h2>

<div class="row">
    <div class="col-md-4">
        <!-- renders a partial view with the subcategories -->
        @{ Html.RenderAction("_CategoryList", "Categories", new {id = categoryId}); }
    </div>
    <div class="col-md-8">Products</div>
</div>